:deep(.ol-swipe) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
    z-index: 9999; /* Ensure the swipe control is on top */
  }
  
  :deep(.ol-swipe button) {
    width: 25px;
    height: 25px;
    background: white; 
    border: solid .5px black;
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
:deep(.ol-swipe button:hover) {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
  
  :deep(.ol-swipe button::after) {
    content: "↔"; 
    position: absolute;
    font-size: 35px;
    color: black;   
    bottom: 15px;
  }
  
  :deep(.ol-swipe:before) {
    content: "";
    position: absolute;
    top: -5000px;
    bottom: -5000px;
    left: 50%;
    width: 4px;
    background: black;
    z-index: -1;
    transform: translate(-2px, 0);
  }
  
  :deep(.ol-swipe) {
    cursor: ew-resize;
  }
  
  
  .layer-label {
    position: absolute;
    top: 50px;
    padding: 5px 10px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    z-index: 10000;
  }
  
  .left-label {
    left: 50px;
  }
  
  .right-label {
    right: 50px;
  }
